.profile-atribute strong {
  color: #998000;
  max-width: 180px;
  width: 100%;
}

.profile-atribute {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
  margin: 0;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.9);
}

.profile-atribute.mobile{
  flex-direction: column;
}

.user-profile-section-input{
  text-align: end;
  width: 100%;
}