.access-home-article{
  background-color: #333;
  font-size: 14px;
  padding: 20px 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.access-home-article:hover,
.access-home-article-hover {
  transform: translateY(-5px);
  box-shadow: 0 50px 100px rgba(0,0,0,0.4);
}

.access-account-home-title{
  color: #998000;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.access-home-links{
  display: flex;
  gap: 10px;
}

.access-home-icon-container{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.access-home-icon{
  font-size: 20px;
  color: #998000;
  transform: translateX(15px);
}