.main-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    box-sizing: border-box;
    
  }

.header-app{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2d3033;
  height: 90px;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}


.header-app-logo{
  height: 70px;
  object-fit: contain;
  display: flex;
  align-items: center;

}

.header-app-left{
    display: flex;
    gap: 40px;
    padding: 0 10px;
}

.header-app-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.app-link{
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: inherit;
  border: none;
  font-size: inherit;
}


.header-app-nav-link{
  color: white;
  font-style: italic;
  transition: color 0.2s ease-in-out;

}

.header-app-nav-link:hover{
  color: #998000;
  transition: color 0.2s ease-in;

}

.header-app-right{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 10px;
}

.primary-button{
    color: white;
    font-weight: bold;
    background-color: #998000;
    padding: 10px 15px;
    border-radius: 5px;
    font-style: italic;
    transition: color 0.2s ease-in-out;
    transition: transform 0.2s ease-in;
}
.primary-button:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
}

.button{
    cursor: pointer;
    user-select: none;
    border: none;
    font-size: inherit;
}

.login-link{
    color: #998000;
    font-weight: bold;
    padding: 10px 15px;
    font-style: italic;
}

.header-app-right-options{
  font-size: 30px;
}

