.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 78vh;
  width: 100%;
}

.registration-page-title {
  font-size: 3rem;
  font-style: italic;
}

.registration-form {
  padding: 20px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.registration-input {
  padding: 12px;
  border: none;
  font-size: 1.2rem;
  background-color: inherit;
  border-bottom: 2px solid #998000;
  font-family: inherit;
}

.registration-input:focus {
  outline: none;
}

.registration-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.registration-submit-button {
  background-color: #998000;
  color: white;
  padding: 10px 20px;
  width: fit-content;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registration-submit-button:hover {
  background-color: #786500;
  transform: scale(1.05);
}

.registration-submit-button:active {
  transform: scale(1);
}

.error-message {
  color: #d73333;
  width: fit-content;
  height: 24px;
  margin: 0;
}

.registration-page-back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0px;
}

.registration-page-back {
  color: rgb(3, 92, 151);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-style: italic;
}

.registration-page-back:hover {
  color: rgb(2, 71, 117);
  transition: all 0.3s ease;
}

.registration-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.custom-select {
  display: flex;
  justify-content: center;
}

.custom-select-option {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.custom-select-option::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #998000;
  transition: width 0.3s ease, left 0.3s ease;
}

.custom-select-option.selected::after {
  width: 100%;
  left: 0;
}

.custom-select-option.selected{
  color: #998000;
}

.custom-select-option:active::after {
  width: 100%;
  left: 0;
}