.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
  min-height: 71.5vh;
  width: 100%;
  max-width: 1550px;
  
}

.user-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background: rgba(25, 25, 25, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(153, 128, 0, 0.2);
  width: 75%;
}

.nav-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease;
  
}

.nav-option::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #998000;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-option:hover::after,
.nav-option.selected::after {
  width: 100%;
  left: 0;
}

.nav-option.selected {
  color: #998000;
}

.nav-option svg {
  font-size: 1.2rem;
}

.user-content {
  animation: fadeIn 0.5s ease forwards;
  display: flex;
  justify-content: center;
  width: 85%;
}