.user-info {
  background: rgba(25, 25, 25, 0.6);
  border-radius: 10px;
  padding: 2rem;
  border: 1px solid rgba(153, 128, 0, 0.2);
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-info-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-icon {
  font-size: 2rem;
  color: #998000;
}

.user-info-footer {
  display: flex;
  justify-content: flex-end;
}