.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 78vh;
  width: 100%;
}

.auth-page-title {
  font-size: 3rem;
  font-style: italic;
  margin: 0;
}

.auth-form {
  padding: 20px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.auth-submit-button {
  background-color: #998000;
  color: white;
  padding: 10px 20px;
  width: fit-content;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-submit-button:hover {
  background-color: #786500;
  transform: scale(1.05);
}

.auth-page-back-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0px;
}

.auth-page-back {
  color: rgb(3, 92, 151);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-style: italic;
}

.auth-page-back:hover {
  color: rgb(2, 71, 117);
  transition: all 0.3s ease;
}

.auth-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.auth-link {
  color: #786500;
  text-decoration: none;
  font-style: italic;
  transition: all 0.3s ease;
}

.auth-link:hover {
  color: #5c5200;
  text-decoration: underline;
}