.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 12px;
  border: none;
  font-size: 1.2rem;
  background-color: inherit;
  border-bottom: 2px solid #998000;
  font-family: inherit;
  width: 100%;
}

.input:focus {
  outline: none;
}

.error-message {
  color: #d73333;
  width: fit-content;
  margin: 0;
  height: 20px;
}